{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Monitoring Dashbord</title>

    <!-- Montserrat Font -->
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Moirai+One&display=swap" rel="stylesheet"> -->

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'data/css/styles.css' %}" />
  
  </head>
  <body>
      <!-- Header -->
      <header class="header">
        
        <div class="header-right">
          <span class="material-icons-outlined">account_circle</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">notifications</span>
        </div>
        <div class="header-left">
          <span>
            <div class="digital-watch" id="digitalWatch" ></div>

          </span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <div id="box">
        <aside id="sidebar">
          <div class="sidebar-title">
            <div class="sidebar-brand">
              <span class="material-symbols-outlined">
                currency_exchange
                </span>
              <span>WatchList</span>
            </div>
          </div>
  
          <ul class="sidebar-list">
            <a id="no_filter" class="menu-item">
              <!-- <img src="image/aws.png" alt="AWS" class="icon-image"> -->
              <span></span>
              <span>No Filter</span>
              </a>
          </ul>
        </aside>
        <!-- End Sidebar -->
  
        <!-- Main -->
        <main class="main-container">
  
          <div class="charts">
            <div class="charts-card">
              <p class="chart-title">Stock Monitoring chart</p>
              <div id="area-chart"></div>
  
            </div>
            
          </div>
        </main>
        <!-- End Main -->
      </div>
      </div>
      


    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
    <!-- Custom JS -->
    <script type="module" src="{% static 'data/js/scripts.js' %}"></script>
  </body>
</html>
